/* Body Styles */
body {
    /* Font and Text */
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
  
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    margin: 0;
  
    /* Background */
    background-color: var(--secondary-color);
    height: 100vh;
  }
  
  /* Icon Styles */
  .icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }