/* Tab styles */
.tab {
    overflow: hidden;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: var(--secondary-color);
}

.tab button:hover {
    background-color: var(--button-color);
}

.tab button.active {
    background-color: var(--button-color);
}

/* Tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--primary-color);
    border-top: none;
}

.color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.color-box {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.transparent {
    background-color: transparent;
    border: 1px solid #ccc;
}

#paletteGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Adjust the number of columns as needed */
    gap: 10px;
}

.palette-button {
    width: 50px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
}

.color-part {
    width: 25px;
    height: 25px;
}
