
  /* Body Styles */
  body {
    /* Font and Text */
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
  
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
  
    /* Background */
    background-color: var(--secondary-color);
    height: 100vh;
  }
  
  /* Section Styles */
  #inputSection, #countdown {
    /* Appearance */
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: var(--primary-color);

    /* Layout */
    width: 80%;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Div Styles within Sections */
  #inputSection div, #countdown div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  /* Label Styles */
  label {
    flex: 2;
    font-weight: 500;
  }
  
  /* Input Styles */
  input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
  }
  
  /* Heading Styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  