body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100vh;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todoList, #inputSection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    font-size: 18px;
}

ul#todoList {
    list-style-type: none;
    padding-left: 0;
}

#inputSection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

label {
    flex: 2;
    font-weight: 500;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.todo-checkbox {
    margin-right: 10px;
}

#inputSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 20px);  /* Adjusted width */
    box-sizing: border-box;  /* Ensures padding and border are included in the width */
    margin-bottom: 10px;
}
  