/* Body Styles */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
  }

/* Tabs Wrapper */
.tabs-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
    overflow-x: auto;  /* Enable horizontal scrolling */
  
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    overflow-y: hidden; /* Disable vertical scrolling */
}


/* Tabs */
.tabs {
    display: flex;
    height: 100%;
}

.tab-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100px;  
    cursor: pointer;
    text-align: center; 
    white-space: nowrap;  /* Prevents the text from wrapping onto the next line */
    overflow: hidden;  /* Hide the overflow */
    text-overflow: ellipsis;  /* Show ellipsis when text overflows */
    min-width: 100px;
    max-width: 120px;  /* Set a maximum width */
}

/* Active tab button style */
.tab-button.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/* Buttons */
button {
    padding: 10px;
    border-radius: 12px;
}

/* Todo List and Input Section */
#todoList, #inputSection {
    border-radius: 10px;
    width: 90vw;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Input Section */
#inputSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#buttonSection {
    margin-top: 50px; /* Same as the height of the tabs */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputSection div {
    display: flex;
    align-items: stretch;
}

button#addTodo, input#newTodo {
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

input#newTodo {
    flex-grow: 1;
}

/* Labels and Inputs */
label {
    flex: 2;
    font-weight: 500;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Additional Styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.todo-checkbox {
    margin-right: 10px;
}

#buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Bottom Buttons */
#bottomButtons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}