/* Body Styles */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Buttons */
button {
    padding: 10px;
    border-radius: 12px;
}

/* Todo List and Input Section */
#todoList, #inputSection {
    border-radius: 10px;
    width: 90vw;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Input Section */
#inputSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#inputSection div {
    display: flex;
    align-items: stretch;
}

button#addTodo, input#newTodo {
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

input#newTodo {
    flex-grow: 1;
}

/* Labels and Inputs */
label {
    flex: 2;
    font-weight: 500;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Additional Styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.todo-checkbox {
    margin-right: 10px;
}

#buttonSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
